# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual environments
.venv/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# App runtime data
data/config/config.yml
data/user-avatars/*
data/config/key.pem
data/config/cert.pem
